{# src/NB/HomeBundle/Resources/views/Contact/contact.html.twig #}

{% extends "NBHomeBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block nb_body %}
<h2>Rencontrons-nous :</h2>
{% endblock %}
