{# src/NB/HomeBundle/Resources/views/Contact/contact.html.twig #}

{% extends "NBHomeBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block nb_body %}
<div class="container">
  <div class="page-header">
    <h1>Rencontrons-nous :</h1>
  </div>
</div>
{% endblock %}
