body {
  background: black;
  color: white;
  font-family: Arial, Helvetica;
}

div.center {
  position:absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
  margin-top: -100px; /* Cette valeur doit être la moitié négative de la valeur du height */
  text-align: center;
}

.contrast {
  color:#20ff02;
}

header nav {
  float: right;
  position: static;
}

ul {
  list-style: none;
  border-bottom: solid 0.5px;
  border-color: #20ff02;
}

header nav ul li {
  display: inline-block;
  margin-top: 30px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-right: 15px;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
  outline-style: none;
}

.title_page {
  padding-top: 40px;
}
