/* GENERAL */
body {
  background: black;
  color: white;
  font-family: Arial, Helvetica;
}

.contrast {
  color:#20ff02;
}

ul {
  list-style: none;
}

p {
  text-align: justify;
  font-size: 20px;
}

h1 {
  color: #fffca5;
}

a:hover {
  text-decoration: none;
}
/* NAV */
header nav {
  float: right;
}

.subline {
  border-bottom: solid 0.5px;
}


header nav ul li {
  display: inline-block;
  margin-top: 30px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-right: 15px;
}


header nav ul li a:hover {
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: font-size 0.2s ease-in;
}

header nav ul li a:visited {
  text-decoration: none;
  color: white;
  outline-style: none;
}

/* COMPETENCES */

.competences {
  height: 200px;
  background: white;
  text-align: center;
  color: black;
  font-size: 30px;
}

.center {
  padding-top: 70px;
}
