{# src/NB/HomeBundle/Resources/views/Home/index.html.twig #}

{% extends "NBHomeBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}
{% block body %}
{{ parent() }}
{% block nbhome_body %}

<div class="center">
  <h2>Nicolas Buton</h2>  
</div>

{% endblock %}
{% endblock %}
