{# src/NB/HomeBundle/Resources/views/Home/index.html.twig #}

{% extends "NBHomeBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}
{% block body %}
{{ parent() }}
{% block nbhome_body %}

<div class="center">
  <h2>Nicolas Buton</h2>
  <p>Développeur logiciel <span class="contrast">/</span> web</p>
</div>

{% endblock %}
<script type="text/javascript">
  $(document).ready(function() {
    console.log("ready");
  });
</script>
{% endblock %}
